# Explore here

Calorias Quemadas

In [1]:
# Your code here

import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/cardioActivities.csv')

df

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
0,2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
1,2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2,2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
3,2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
4,2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,2012-08-28 07:06:57,f5218490-a372-44c8-bb20-de3b91984cbe,Walking,NaN,1.57,13:39,8:41,6.91,926743.0,7,NaN,NaN,NaN,2012-08-28-070657.gpx
504,2012-08-24 12:59:42,018f66a7-da5e-4985-a8fe-725a33317c87,Walking,NaN,1.48,17:56,12:09,4.94,942192.0,12,NaN,NaN,NaN,2012-08-24-125942.gpx
505,2012-08-24 10:12:16,7acec95a-d63d-435d-837c-7befb352f500,Walking,NaN,1.49,13:43,9:14,6.49,924486.0,9,NaN,NaN,NaN,2012-08-24-101216.gpx
506,2012-08-24 08:13:12,f790bdb2-b921-4018-bd39-d59d870c5847,Running,NaN,3.15,16:00,5:05,11.82,2288868.0,17,NaN,NaN,NaN,2012-08-24-081312.gpx
507,2012-08-22 18:53:54,706d4d6b-767d-40aa-81c9-e5e85a102051,Running,NaN,5.69,31:08,5:29,10.95,4072685.0,32,NaN,NaN,NaN,2012-08-22-185354.gpx

In [3]:
df.shape

(508, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      508 non-null    object
 1   Activity Id               508 non-null    object
 2   Type                      508 non-null    object
 3   Route Name                1 non-null      object
 4   Distance (km)             508 non-null    float64
 5   Duration                  508 non-null    object
 6   Average Pace              508 non-null    object
 7   Average Speed (km/h)      508 non-null    float64
 8   Calories Burned           508 non-null    float64
 9   Climb (m)                 508 non-null    int64
 10  Average Heart Rate (bpm)  294 non-null    float64
 11  Friend's Tagged           0 non-null      float64
 12  Notes                     231 non-null    object
 13  GPX File                  504 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 55.7+ KB

In [8]:
df2= df.drop(columns=['Date','Activity Id','Route Name','Average Heart Rate (bpm)','Friend\'s Tagged','Notes','GPX File'])
df2

,Type,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m)
0,Running,10.44,58:40,5:37,10.68,774.0,130
1,Running,12.84,1:14:12,5:47,10.39,954.0,168
2,Running,13.01,1:15:16,5:47,10.37,967.0,171
3,Running,12.98,1:14:25,5:44,10.47,960.0,169
4,Running,13.02,1:12:50,5:36,10.73,967.0,170
...,...,...,...,...,...,...,...
503,Walking,1.57,13:39,8:41,6.91,926743.0,7
504,Walking,1.48,17:56,12:09,4.94,942192.0,12
505,Walking,1.49,13:43,9:14,6.49,924486.0,9
506,Running,3.15,16:00,5:05,11.82,2288868.0,17
507,Running,5.69,31:08,5:29,10.95,4072685.0,32

In [9]:
df2.describe()

       Distance (km)  Average Speed (km/h)  Calories Burned  Climb (m)
count     508.000000            508.000000     5.080000e+02  508.00000
mean       11.757835             11.341654     1.878197e+04  128.00000
std         6.209219              2.510516     2.186930e+05  108.52604
min         0.760000              1.040000     4.000000e+01    0.00000
25%         7.015000             10.470000     4.917500e+02   53.00000
50%        11.460000             11.030000     7.280884e+02   92.00000
75%        13.642500             11.642500     9.212500e+02  172.25000
max        49.180000             24.330000     4.072685e+06  982.00000

In [13]:
def iqr(df,columna):
    estadisticas = df[columna].describe()
    rango_iq = estadisticas['75%'] - estadisticas['25%']
    lim_superior = estadisticas['75%'] + 1.5 * rango_iq
    lim_inferior = estadisticas['25%'] - 1.5 * rango_iq
    return lim_superior, lim_inferior

a,b = iqr(df2,'Calories Burned')

print(f'Limite superior: {a} y el limite inferior: {b}')

Limite superior: 1565.499999986896 y el limite inferior: -152.50000033220806

In [15]:
df2[df2['Calories Burned']>= 1562].count()

Type                    17
Distance (km)           17
Duration                17
Average Pace            17
Average Speed (km/h)    17
Calories Burned         17
Climb (m)               17
dtype: int64

In [16]:
df3 = df2[df2['Calories Burned']>= 1562]